################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/EHR.API/bin/Debug/net9.0
/src/EHR.API/obj
/src/EHR.Application/bin/Debug/net9.0
/src/EHR.Application/obj
/src/EHR.Domain/bin/Debug/net9.0
/src/EHR.Domain/obj
/src/EHR.IdentityServer/bin/Debug/net9.0
/src/EHR.IdentityServer/obj
/src/EHR.Infrastructure/bin/Debug/net9.0
/src/EHR.Infrastructure/obj
/src/EHR.IntegrationTests/bin/Debug/net9.0
/src/EHR.IntegrationTests/obj
/src/EHR.UnitTests/bin/Debug/net9.0
/src/EHR.UnitTests/obj
/src/ehr-ui/.vs
/src/EHR.API/uploads/patients/2d85d97c-e043-43d1-a18d-7da866374c04.jpg
/src/EHR.API/uploads/patients/3f10ebf9-9c06-4b69-9d4e-b3bea33d566d.jpg
/src/EHR.API/uploads/patients/5df4c1c9-02c0-44fd-bd56-72db9fecee12.jpg
